<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/lizhu129/GLOBAL_GUARDIANS"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/home"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/feed/?trk=guest_homepage-basic_google-one-tap-submit"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Copyright © 2023 - Global Guardians <i class="fas fa-heart"></i>
  </div>
</div>
