<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dhvz5quc9/image/upload/v1693336332/development/family.jpg);">
  <div class="container">
    <h1>Global Guardians offers <strong>the best parental services</strong> to <strong>people all around the world</strong>!</h1>
    <p>Check out our services to give your children an unique experience.</p>
    <a class="btn btn-gradient" href="/services">Start your journey now</a>
    </div>
  </div>
</div>

<div class="container">

  <div class="row mt-4">
    <h3>Who are we?</h3>
    <p>We are a global platform offering various <strong>parental services</strong>. Either you are individuals who are willing to offer your services, or parents who are seeking resources,
    don't hesitate to sign up and join us!</p>
    <h3>Why us?</h3>
    <p>Are you looking for a reliable host family when your child goes on Erasmus? Do you wish to go on a romantic date night with your partner while having a reliable babysitter at home?
    More playmates for your children?...All your wishes will come true <strong>@Global Guardians</strong>!</p>
    <h3>Our services</h3>
    <p>We have a <strong>strict screening process</strong> for all service providers to ensure the safety and happiness of your children. </p>
  </div>


  <div class="row mt-4">
    <h2>The category of services we provide to you : </h2>
  </div>

  <div class="cards mb-2">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dhvz5quc9/image/upload/v1693336332/development/HostFamily.jpg)">
    Host Family
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dhvz5quc9/image/upload/v1693336332/development/Babysitter.jpg)">
    Babysitter
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dhvz5quc9/image/upload/v1693336278/development/Playmate.jpg)">
    Playmate
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dhvz5quc9/image/upload/v1693336332/development/Advise.jpg)">
    Advise
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dhvz5quc9/image/upload/v1693336251/development/Support.jpg)">
    Emotional Support
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dhvz5quc9/image/upload/v1693336304/development/Outing.jpg">
    Outing
    </div>
  </div>
</div>
